body {
    background: linear-gradient(to right, #136a8a, #267871);
    min-height: 100vh;
    color: white;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.1);
}
.content-card {
    background-color: rgba(255, 255, 255, 0.30);
    border: none;
    color: white;
}
